{% extends "base.twig" %}

{% block content %}
	<div class="pt-5 pb-5 404-content d-flex align-items-center">
        <div>
            <h1>404</h1>
            <p>Sorry, we couldn't find what you're looking for.</p>
        </div>
    </div>
{% endblock %}