// Colors
//
$red-orange: #f15128;
$orange: #f58120;
$yellow: #f9a61a;
// f8a71a
$primary: $red-orange;
$secondary: #465b5f;

$dark: #464646;
$mid: #959595;

$body-color: $dark;

// Fonts
//
$font-family-sans-serif: 'Industry', 'Titillium Web', sans-serif;

// $font-size-base: 0.94rem;

$font-weight-light: 200;
$font-weight-book: 400;
$font-weight-normal: 600;
$font-weight-bold: 700;
$font-weight-base: $font-weight-book;
$headings-font-weight: 600;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;