<div class="podcast-module image-link-module mb-4">
    <a target="_blank" class="d-block" href="{{ module.link }}">
        <img class="d-block" src="{{ TimberImage(module.image).src }}" alt="">
    </a>
</div>
